.lg-container{
    margin: 5rem auto 0rem;
    position: relative;
}
.lg-bg-text{
    font-size: 15rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: var(--grey5);
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    letter-spacing: 3rem;
}
.lg-box-wrapper{
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}