.rg-container{
    margin: 5rem auto 0rem;
    position: relative;
}
.rg-bg-text{
    font-size: 15rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: var(--grey5);
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    letter-spacing: 2rem;
}
.rg-box-wrapper{
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rg-box{
    padding: 1rem 2rem;
    width: 450px;
    border-radius: .7rem;
    box-shadow: var(--bs2);
    backdrop-filter: blur(5px);
}
.rg-heading{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--black2);
}
.rg-input-box{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.rg-input-box > label{
    margin-bottom: .4rem;
    font-size: .9rem;
}
.rg-input-box > input{
    padding: .8rem .5rem;
    border-radius: .5rem;
    border: 1.5px solid var(--grey1);
}
.rg-forgot{
    font-size: .9rem;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
    color: var(--black4);
}
.rg-forgot > a:hover{
    color: var(--black1);
    text-decoration: underline;
}
.rg-btn{
    margin-top: 1.3rem;
}
.rg-btn > button{
    width: 100%;
    padding: .6rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--black3);
    color: var(--white1);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s linear;
}
.rg-btn > button:hover{
    background-color: var(--black1);
}
.rg-redirect{
    font-size: .9rem;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--black3);
}
.rg-redirect > a{
    font-weight: 600;
}
.rg-redirect > a:hover{
    color: var(--black1);
    text-decoration: underline;
}