.fsn-container{
    width: 90%;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fsn-left{
    width: 32%;
    border-right: 3px dotted var(--black5);
}
.fsn-right{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fsn-img{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    width: fit-content;
    overflow: hidden;
}
.fsn-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fsn-image{
    width: 250px;
    height: 100%;
    filter: drop-shadow(0 0 8px var(--grey2));
}
.fsn-card-text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
}

@media (min-width: 300px) and (max-width: 800px){
    .fsn-container{
        flex-direction: column;
    }
    .fsn-left, .fsn-right{
        width: 100%;
    }
    .fsn-left{
        border-bottom: 3px dotted var(--black5);
        border-right: none;
        padding-bottom: 2rem;
    }
    .fsn-left-image{
        width: 280px;
        height: 100%;
    }
    .fsn-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fsn-card{
        width: 100%;
        margin-top: 2rem;
    }
    .fsn-image{
        width: 100px;
    }
    .fsn-card-text{
        font-size: 0.9rem;
    }
}