.lg-box{
    padding: 1rem 2rem;
    width: 450px;
    border-radius: .7rem;
    box-shadow: var(--bs2);
    backdrop-filter: blur(5px);
}
.lg-heading{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--black2);
}
.lg-input-box{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.lg-input-box > label{
    margin-bottom: .4rem;
    font-size: .9rem;
}
.lg-input-box > input{
    padding: .8rem .5rem;
    border-radius: .5rem;
    border: 1.5px solid var(--grey1);
}
.lg-forgot{
    font-size: .9rem;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
    color: var(--black4);
}
.lg-forgot > a:hover{
    color: var(--black1);
    text-decoration: underline;
}
.lg-btn{
    margin-top: 1.3rem;
}
.lg-btn > button{
    width: 100%;
    padding: .6rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--black3);
    color: var(--white1);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s linear;
}
.lg-btn > button:hover{
    background-color: var(--black1);
}
.lg-redirect{
    font-size: .9rem;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--black3);
}
.lg-redirect > a{
    font-weight: 600;
}
.lg-redirect > a:hover{
    color: var(--black1);
    text-decoration: underline;
}
.lg-error{
    font-size: .8rem;
    font-style: italic;
    color: red;
    text-align: center;
    margin-top: .5rem;
}