.admin-container{
    width: 90%;
    margin: 3rem auto 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-form{
    margin: 2rem auto;
}
.admin-form-heading{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.admin-form-label{
    display: block;
    margin-bottom: .5rem;
}
.input-box-label{
    margin-bottom: 1rem;
}
.admin-form-inputs{
    columns: 50% 2;
}
.admin-size-check{
    margin: 0 2rem 0 .3rem;
}
.admin-input-field{
    margin-bottom: 1rem;
}
.admin-input-box{
    width: 100%;
    padding: .7rem 1rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    border: 1px solid var(--grey2);
    background-color: rgb(246, 248, 250);
}