/* .filter-container{
    position: fixed;
    width: 25%;
} */
.filter-heading{
    font-size: 1.2rem;
    font-weight: 600;
}
.filter-type-heading{
    font-size: .8rem;
    text-transform: uppercase;
    margin: 1rem 0rem .5rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(45deg, rgb(39, 40, 41) 0%, rgb(255, 255, 255) 70%) 1;
    padding-bottom: .3rem;
}
.filter-items{
    margin-left: .5rem;
}
.filter-item{
    padding: .3rem 0rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-item input{
    margin-right: .5rem;
    accent-color: var(--black1);
    height: 15px;
    width: 15px;
    cursor: pointer;
    border: 2px solid var(--black1);
}
.filter-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.filter-clear, .filter-apply{
    width: 100%;
    margin: 0rem 1rem;
}
.clear-btn{
    width: 100%;
    border: 2px solid var(--black3);
    color: var(--black3);
}
.clear-btn:hover{
    border: 2px solid var(--black1);
    color: var(--black1);
}
.apply-btn{
    width: 100%;
    background-color: var(--black3);
}
.apply-btn:hover{
    background-color: var(--black1);
}
.price-slider{
    color: var(--black1);
}
.filter-price-input{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}