.blg-container{
    width: 90%;
    margin: 2rem auto;
}
.blg-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

}
.blg-heading{
    font-size: 2rem;
    font-weight: 600;
}
.blg-card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0rem 3rem;
}
.carousel-btn{
    display: flex;
    align-items: center;
}
.carousel-left, .carousel-right{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--black5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s linear;
}
.carousel-right{
    margin-left: 1rem;
}
.carousel-left:hover, .carousel-right:hover{
    background-color: var(--black1);
    color: var(--white1);
}
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  
@media (min-width: 300px) and (max-width: 600px){
    .blg-container{
        width: 93%;
        margin: 2rem auto;
    }
}